body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #BFACE2;
}
.hp_flex_container{
    display: flex;
}
.hp_flex_container div{
    flex: 1;
}
#bio_p{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0%;
    font-weight: 400;
}

#big_title{
    text-align: center;
    font-size:100px;
    font-family: cursive;
    color: white;
}
.title{
    text-align: center;
}
#justin_photo{
    width: 100%;
    border-radius: 50%;
}
.button{
    width: 25px;
}
.image_button{
    width: 43%;
}

#artwork{
    width: 600px;
    height: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right{
    width: 500px;
    float: right;
    padding: 0 0 20px 20px;
}

