body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #BFACE2;
}
p{
    text-align: center;
    font-size: large
}
.hp_flex_container{
    display: flex;
}
.hp_flex_container div{
    flex: 1;
}
.am_flex_container{
    display: flex;
}
.am_flex_container div{
    flex: 1;
}
.buttons_flex_container{
    display: flex;
}
.am_flex_container a{
    flex: 1;
}
#bio_p{
    text-align: left;
    background-color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: medium;
}

#big_title{
    text-align: center;
    font-size:100px;
    font-family: cursive;
    color: white;
}
.title{
    text-align: center;
}
#justin_photo{
    width: 100%;
    border-radius: 50%;
}
.button{
    width: 25px;
}
.image_button{
    width: 43%;
}

#artwork{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#kids{
    width: 50%;
}

